noderedflow.json
[{"id":"5a628f5b.9d3b9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d60e45e3.3a6e08","type":"inject","z":"5a628f5b.9d3b9","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"You Make The Hire. We Make It Simple. Modern recruiting communication with chatbots, AI, and text message automation for faster hiring","payloadType":"str","x":150,"y":240,"wires":[["17773739.ef8c59"]]},{"id":"cf4ec5b4.ef2fc8","type":"comment","z":"5a628f5b.9d3b9","name":"Description","info":"","x":400,"y":240,"wires":[]},{"id":"493b0921.f24da8","type":"function","z":"5a628f5b.9d3b9","name":"Giving Input To Bot","func":"msg.payload=msg.payload.response\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["7f8b47e4.b53158"]]},{"id":"5c0c7e08.626d","type":"function","z":"5a628f5b.9d3b9","name":"Bot Reply","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":120,"wires":[["bfd4813d.10c41"]]},{"id":"284e607b.c9ed4","type":"function","z":"5a628f5b.9d3b9","name":"To display Information about Phase 1","func":"msg.payload=\"Phase 1 of this project deals with the general way of recruitment.Here, the Company should set its requirements initially.when a candidate submits his details, our model compares with the requirements and takes an action based on it.\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2200,"wires":[["9f9d9f5b.3aa99"]]},{"id":"180d1cd9.8663f3","type":"function","z":"5a628f5b.9d3b9","name":"To display Information about Phase 2","func":"msg.payload=\"Phase 2 of the solution deals with AI-enabled way of recruitment. Here, our model trains based on the previously worked employes data.The software learns about existing employees’ experience, education, and other qualifications and applies this knowledge to new applicants in order to predict the selection possibility for the shortlisting candidates list.\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2240,"wires":[["219bf625.671d4a"]]},{"id":"ab810337.d94e6","type":"function","z":"5a628f5b.9d3b9","name":"To display Information about Phase 3","func":"msg.payload=\"Phase 3 of our project works based on the Work & Prove method. Here, the job posting company should post a piece of work,When the candidate is interacting with our chatbot, then it displays the problem to the candidate. \"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2280,"wires":[["dfabeac3.7c0d78"]]},{"id":"646239b0.789d18","type":"function","z":"5a628f5b.9d3b9","name":"Home page to Company SignUp page","func":"msg.payload={\n\"tab\":\"Company SignUp\",\n\"tabs\":\n{\"hide\":[\"Welcome\",\"Apply For A JOB\"],\n\"show\":[\"Company SignUp\",\"Company Login\"]\n\n}};\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["95ad40b6.5b94"]]},{"id":"ff871e60.c8ff","type":"function","z":"5a628f5b.9d3b9","name":"Homepage to Login Page","func":"msg.payload={\n\"tab\":\"Company Login\",\n\"tabs\":\n{\"hide\":[\"Welcome\",\"Apply For A Job\",\"DashBoard\",\"Post A Job\"],\n\"show\":[\"Company Login\",\"Company SignUp\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1080,"wires":[["6f729eee.92076"]]},{"id":"6acfb5e2.eaf00c","type":"function","z":"5a628f5b.9d3b9","name":"Registering company data","func":"msg.payload=\n{\n    \"_id\":msg.payload.cmailid,\n    \"company name\":msg.payload.cname,\n    \"company mailid\":msg.payload.cmailid,\n    \"password\":msg.payload.pwd,\n    \"location\":msg.payload.loc,\n    \"website\":msg.payload.cwebsite,\n    \"about\":msg.payload.cabout\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":560,"wires":[["4368cd1f.26cc64","1eaf49ce.fab5d6","a0674ee9.5d056"]]},{"id":"a6920468.0f38a8","type":"function","z":"5a628f5b.9d3b9","name":"Company SignUp page to Company Login Page","func":"msg.payload={\n\"tab\":\"Company Login\",\n\"tabs\":\n{\"hide\":[\"Company SignUp\"],\n\"show\":[\"Company Login\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":620,"wires":[["cfc82531.629208"]]},{"id":"4368cd1f.26cc64","type":"delay","z":"5a628f5b.9d3b9","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":620,"wires":[["a6920468.0f38a8"]]},{"id":"96a7b8e7.235f28","type":"function","z":"5a628f5b.9d3b9","name":"Coming Back to Home Page","func":"msg.payload={\n\"tab\":\"Welcome\",\n\"tabs\":\n{\"hide\":[\"Company SignUp\"],\n\"show\":[\"Welcome\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":680,"wires":[["adfa66ae.9d9098"]]},{"id":"6f043f76.273c5","type":"function","z":"5a628f5b.9d3b9","name":"Coming Back to Home Page","func":"msg.payload={\n\"tab\":\"Welcome\",\n\"tabs\":\n{\"hide\":[\"Company Login\",\"Apply For A Job\"],\n\"show\":[\"Welcome\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1180,"wires":[["9000a6a5.807e68"]]},{"id":"1eaf49ce.fab5d6","type":"delay","z":"5a628f5b.9d3b9","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":500,"wires":[["85c7afe9.53fb5"]]},{"id":"85c7afe9.53fb5","type":"function","z":"5a628f5b.9d3b9","name":"Notification Message","func":"msg.payload=\"You are redirecting to Company Login Page\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":500,"wires":[["be33ec80.48eaa"]]},{"id":"4bac21a2.3d68","type":"function","z":"5a628f5b.9d3b9","name":"Extracting details from Form","func":"global.set('email',msg.payload.cemail)\nglobal.set('pass',msg.payload.pwd)\nmsg.payload={\n    \"_id\":msg.payload.cemail\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1340,"wires":[["a30b8757.e5d8c8","1ad29160.2991bf"]]},{"id":"63221d5b.30c644","type":"function","z":"5a628f5b.9d3b9","name":"Authentication","func":"if(msg.payload.password==global.get('pass'))\n{\n    msg.payload=\"Authentication Successful.Redirecting to Dashboard in 5 sec\";\n    \n    \n    return msg;\n    \n    \n    \n}\nelse\n{\n    msg.payload=\"UserID/Password is Incorrect\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1300,"wires":[["ff4e1282.e71b1","24d9bc19.8a4fb4","1fa1b0fd.536aff"]]},{"id":"24d9bc19.8a4fb4","type":"function","z":"5a628f5b.9d3b9","name":"Login Page to DashBoard Page","func":"if(msg.payload==\"Authentication Successful.Redirecting to Dashboard in 5 sec\")\n{\n    msg.payload={\n    \"tab\":\"DashBoard\",\n    \"tabs\":\n    {\n        \"hide\":[\"Company Login\",\"Apply For A JOB\",\"Post A Job Manually\",\"Company SignUp\"],\n        \"show\":[\"DashBoard\",\"Post A Job\"]\n        \n    }};\n}\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1380,"wires":[["4030f810.56c478"]]},{"id":"4030f810.56c478","type":"delay","z":"5a628f5b.9d3b9","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":1440,"wires":[["7dc80480.e7ec9c"]]},{"id":"ae961b95.5045a8","type":"function","z":"5a628f5b.9d3b9","name":"Retrieving Company Details to display on dashboard","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1720,"wires":[["10a42123.a5aa5f","7eb15405.eb901c","bc478ba4.e94b88","66164790.4cedf8","12f955c.97a36aa","a0e0003b.6fa0e","9fb257ff.aec118"]]},{"id":"f9c7382e.c99258","type":"function","z":"5a628f5b.9d3b9","name":"Logging out & redirecting to dashboard","func":"msg.payload={\n\"tab\":\"Welcome\",\n\"tabs\":\n{\"hide\":[\"DashBoard\",\"Post A Job Manually\",\"Post A Job\",\"Apply For A JOB\"],\n\"show\":[\"Welcome\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1900,"wires":[["eb50060d.465598"]]},{"id":"cfc82531.629208","type":"link out","z":"5a628f5b.9d3b9","name":"Redirecting to Login Page","links":["e88089bd.369e98"],"x":1635,"y":620,"wires":[]},{"id":"e88089bd.369e98","type":"link in","z":"5a628f5b.9d3b9","name":"","links":["cfc82531.629208"],"x":460,"y":940,"wires":[["6f729eee.92076"]]},{"id":"3a5f483a.f58f08","type":"link out","z":"5a628f5b.9d3b9","name":"Login Company Details","links":["b35fc0c3.4d708","9aa47e27.aec06","713c366a.084b58","95f67ba3.fd1048"],"x":880,"y":1440,"wires":[]},{"id":"b35fc0c3.4d708","type":"link in","z":"5a628f5b.9d3b9","name":"","links":["3a5f483a.f58f08"],"x":175,"y":1720,"wires":[["ae961b95.5045a8","48777683.270468"]]},{"id":"9aa47e27.aec06","type":"link in","z":"5a628f5b.9d3b9","name":"","links":["3a5f483a.f58f08"],"x":135,"y":2400,"wires":[["3af982b3.5637de"]]},{"id":"19717061.fc434","type":"function","z":"5a628f5b.9d3b9","name":"Setting Job categery  available to this Flow","func":"flow.set(\"jobcat\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":2920,"wires":[[]]},{"id":"12076324.9251ad","type":"function","z":"5a628f5b.9d3b9","name":"Setting Post info.  available to this Flow","func":"flow.set(\"post\",msg.payload)\n//global.set(\"poststatus\",\"true\")\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":3000,"wires":[[]]},{"id":"8b293301.3322c","type":"function","z":"5a628f5b.9d3b9","name":"Displaying groups based on user selection","func":"msg.phasesarr=flow.get('phases')\nif(msg.phasesarr.includes(\"1\"))\n    msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Phase1\"],\"hide\":[\"Post_A_Job_Manually_Post_Job_Manually\"]}}\nelse if(msg.phasesarr.includes(\"2\"))    \n    msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Phase2\"],\"hide\":[\"Post_A_Job_Manually_Post_Job_Manually\"]}}\nelse if(msg.phasearr.includes(\"3\"))\n    msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Phase3\"],\"hide\":[\"Post_A_Job_Manually_Post_Job_Manually\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3200,"wires":[["3f823f52.f56b1"]]},{"id":"83cb5636.46c9e8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":220,"wires":[]},{"id":"e07a7dd1.4fbee","type":"function","z":"5a628f5b.9d3b9","name":"Generating a Phase array which represents selected phases","func":"msg.phases=\"\"\nfor(i=0;i<msg.payload.length;i++)\n{\n    //msg.phases=msg.phases+\"\"+msg.payload[i]\n    if(msg.payload[i]==\"phase1\")\n        msg.phases=msg.phases+\"1\"\n    if(msg.payload[i]==\"phase2\")\n        msg.phases=msg.phases+\"2\"\n    if(msg.payload[i]==\"phase3\")\n        msg.phases=msg.phases+\"3\"\n}\nmsg.phasesarr=msg.phases.split(\"\")\nmsg.phasesarr.sort()\nflow.set('phases',msg.phasesarr)\n//global.set(\"phasesstatus\",\"true\")\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3080,"wires":[["4b299670.ed4348"]]},{"id":"3af982b3.5637de","type":"function","z":"5a628f5b.9d3b9","name":"Hiding Unnecessary Groups","func":"msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Post_Job_Manually\"],\"hide\":[\"Post_A_Job_Manually_Phase1\",\"Post_A_Job_Manually_Phase2\",\"Post_A_Job_Manually_Phase3\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2400,"wires":[["b9fa7eda.96614"]]},{"id":"7cb12d4c.e8cd94","type":"function","z":"5a628f5b.9d3b9","name":"Dialog Message","func":"msg.payload=\"Phase 1 is about general way of recuitment\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3500,"wires":[["2e075f1f.fc9ff"]]},{"id":"a8a8bfde.17bd7","type":"function","z":"5a628f5b.9d3b9","name":"Dialog Message","func":"msg.payload=\"Fill Ur Shortlisting Criteria In a Descriptive Manner\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":3580,"wires":[["d17dc7c1.e4e428"]]},{"id":"a0674ee9.5d056","type":"cloudant out","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"company_registration","service":"node-red-ibmhack-cloudant-1594932181169-14231","payonly":true,"operation":"insert","x":1060,"y":560,"wires":[]},{"id":"a30b8757.e5d8c8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":1480,"wires":[]},{"id":"b933f6ff.d41808","type":"function","z":"5a628f5b.9d3b9","name":"Dialog Message","func":"msg.payload=\"Phase 2 is AI Enabled way of recuitment\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3840,"wires":[["7568a914.af33d8"]]},{"id":"b56256d3.a992f8","type":"function","z":"5a628f5b.9d3b9","name":"Dialog Message","func":"msg.payload=\"Upload CSV file of Your existing Employees Attributes With Catagory Labelled as Satisfied Or Not\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3920,"wires":[["426a67cd.bc4ba8"]]},{"id":"922fa0b.dd9546","type":"function","z":"5a628f5b.9d3b9","name":"Displaying groups based on user selection","func":"msg.phasesarr=flow.get('phases')\nif(msg.phasesarr.includes(\"2\"))\n    msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Phase2\"],\"hide\":[\"Post_A_Job_Manually_Phase1\",\"Post_A_Job_Manually_Post_Job_Manually\"]}}\nelse if(msg.phasearr.includes(\"3\"))\n    msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Phase3\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":3740,"wires":[["c0ba308d.c3a9f"]]},{"id":"555235d2.d03c1c","type":"http in","z":"5a628f5b.9d3b9","name":"","url":"/","method":"post","upload":true,"swaggerDoc":"","x":130,"y":4240,"wires":[["c240413c.9f015","264a0563.8a2a5a","105a767e.98f8ba","a3413fc2.173f3","761a750d.ac01dc","49413e2e.5cef9"]]},{"id":"c240413c.9f015","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":4120,"wires":[]},{"id":"264a0563.8a2a5a","type":"function","z":"5a628f5b.9d3b9","name":"Converting Buffer to String ","func":"msg.payload = msg.req.files[0].buffer.toString();\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":4180,"wires":[["ae607895.263d08","72aba38e.f7ac9c","c3d539d.44757c8"]]},{"id":"ae607895.263d08","type":"csv","z":"5a628f5b.9d3b9","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":710,"y":4180,"wires":[["80eeb012.0825"]]},{"id":"80eeb012.0825","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":4180,"wires":[]},{"id":"105a767e.98f8ba","type":"function","z":"5a628f5b.9d3b9","name":"Converts buffer to String and Deals with PostReq.","func":"msg.payload = msg.req.files[0].buffer.toString();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4380,"wires":[["830aac27.f9397"]]},{"id":"830aac27.f9397","type":"http response","z":"5a628f5b.9d3b9","name":"","statusCode":"","headers":{},"x":790,"y":4380,"wires":[]},{"id":"3694794c.5340b6","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":3980,"wires":[]},{"id":"72aba38e.f7ac9c","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":4120,"wires":[]},{"id":"95f67ba3.fd1048","type":"link in","z":"5a628f5b.9d3b9","name":"Login Company Credentials","links":["3a5f483a.f58f08"],"x":175,"y":3460,"wires":[["f0310abb.c61f48"]]},{"id":"e6c3e203.55cf6","type":"function","z":"5a628f5b.9d3b9","name":"Getting values of job category, post info. and phases from the flow","func":"var jobcat=flow.get(\"jobcat\")\nvar post=flow.get(\"post\")\nvar phases=flow.get(\"phases\")\nvar location=flow.get(\"location\")\nmsg.payload={\n    jobcat:jobcat,\n    post:post,\n    phases:phases,\n    location:location\n}\n\nglobal.set(\"button\",\"ok\")\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3260,"wires":[["ff45e088.bafe"]]},{"id":"4b299670.ed4348","type":"function","z":"5a628f5b.9d3b9","name":"Setting phases  available to this Flow","func":"msg.payload=flow.get(\"phases\")\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3080,"wires":[[]]},{"id":"f0310abb.c61f48","type":"function","z":"5a628f5b.9d3b9","name":"Setting Company Credentials  available to this Flow","func":"global.set(\"credentials\",msg.cloudant)\nglobal.set(\"details\",\"ok\")\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":3460,"wires":[["1c507af4.ec9285"]]},{"id":"ff45e088.bafe","type":"function","z":"5a628f5b.9d3b9","name":"Getting Company Credentials and appending to Job nfo","func":"var buttonstatus=global.get(\"button\")\nvar detailsstatus=global.get(\"details\")\nif(buttonstatus==\"ok\" && detailsstatus==\"ok\")\n{\n    msg.credentials=global.get(\"credentials\")\n}\nflow.set(\"companyid\",msg.credentials._id)\nreturn msg","outputs":1,"noerr":0,"x":1010,"y":3260,"wires":[["4ab7ea6a.b31844"]]},{"id":"e7c435d1.79ec88","type":"inject","z":"5a628f5b.9d3b9","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":4660,"wires":[["8dcb0b76.812a38"]]},{"id":"7706e40.dbfdc1c","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":4620,"wires":[]},{"id":"ccfbe458.d2a3e8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":4240,"wires":[]},{"id":"c3d539d.44757c8","type":"function","z":"5a628f5b.9d3b9","name":"Setting Object name to Upload it into Object Storage","func":"var company=flow.get(\"companyid\")\nmsg.objectname=company\nmsg.companyid=company\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":4240,"wires":[["93ed96e2.7d01f8","6bba2385.0d195c"]]},{"id":"93ed96e2.7d01f8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":4320,"wires":[]},{"id":"a654ba73.620cc8","type":"function","z":"5a628f5b.9d3b9","name":"Setting Object Name to Search in Object Storage","func":"msg.objectname=flow.get(\"companyid\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":4580,"wires":[["a7da3f25.1e384","8dcb0b76.812a38"]]},{"id":"a7da3f25.1e384","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":4560,"wires":[]},{"id":"c0a89582.8b77d8","type":"function","z":"5a628f5b.9d3b9","name":"Converting Buffer to String ","func":"var b=Buffer.from(msg.payload)\nvar s=b.toString()\nvar out=s\nmsg.payload=out\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":4700,"wires":[["e8c3591f.7abd08"]]},{"id":"e8c3591f.7abd08","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":4700,"wires":[]},{"id":"ab5f0706.be6018","type":"comment","z":"5a628f5b.9d3b9","name":"Posting the Uploaded CSV","info":"","x":530,"y":4080,"wires":[]},{"id":"a3413fc2.173f3","type":"function","z":"5a628f5b.9d3b9","name":"preparing Data to inject into Database","func":"msg.payload={\n    CID:flow.get(\"companyid\"),\n    TRAINED_STATUS:\"nottrained\",\n    SURL:\"\",\n    PARAMS:\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":4480,"wires":[["53ca3cb8.543664","786ac00e.c21a8"]]},{"id":"53ca3cb8.543664","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":4440,"wires":[]},{"id":"761a750d.ac01dc","type":"function","z":"5a628f5b.9d3b9","name":"Displaying groups based on user selection","func":"msg.phasesarr=flow.get('phases')\nif(msg.phasesarr.includes(\"3\"))\n    msg.payload={\"group\":{\"show\":[\"Post_A_Job_Manually_Phase3\"],\"hide\":[\"Post_A_Job_Manually_Phase2\"]}}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":4320,"wires":[["10025ad3.744dc5"]]},{"id":"853485b.fdd2d78","type":"function","z":"5a628f5b.9d3b9","name":"Setting Location available to this Flow","func":"flow.set(\"location\",msg.payload)\n//global.set(\"poststatus\",\"true\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":3160,"wires":[[]]},{"id":"4ab7ea6a.b31844","type":"function","z":"5a628f5b.9d3b9","name":"preparing Data to inject into Database","func":"msg.payload={\n    CID:flow.get(\"companyid\"),\n    JOBCAT:msg.payload.jobcat,\n    POST:msg.payload.post,\n    LOCATION:msg.payload.location,\n    SKILLS:flow.get(\"skills\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":3320,"wires":[["9f726a54.253dd8"]]},{"id":"89319198.20f3f","type":"function","z":"5a628f5b.9d3b9","name":"Phase_1_DB","func":"msg.payload={\n    CID:flow.get(\"companyid\"),\n    DES:msg.payload.reqdes,\n    CODE:\"false\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":3800,"wires":[["a5ee3ade.6f9758"]]},{"id":"59dcd535.5bc17c","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":3700,"wires":[]},{"id":"6a8b9b75.62e3c4","type":"function","z":"5a628f5b.9d3b9","name":"Dialog Message","func":"msg.payload=\"Phase 3 is Work & Prove Method of recuitment\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":4780,"wires":[["6c849eb7.a0135"]]},{"id":"1cd6e05f.e6987","type":"function","z":"5a628f5b.9d3b9","name":"Dialog Message","func":"msg.payload=\"About Descriptive Company Requirments\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":4840,"wires":[["428ae8d9.8582a8"]]},{"id":"35571c86.df61e4","type":"function","z":"5a628f5b.9d3b9","name":"preparing Data to inject into Database","func":"\nmsg.payload={\n    CID:flow.get(\"companyid\"),\n    PB_STMT:msg.payload.pb_stmt,\n    INPUTS:\"\",\n    OUTPUTS:\"\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":4920,"wires":[["e8662583.e734f8","a9693486.01e538","eba166d8.740d38"]]},{"id":"e8662583.e734f8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":4960,"wires":[]},{"id":"b64b26d8.89c048","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2870,"y":80,"wires":[]},{"id":"9ac9503d.83f51","type":"function","z":"5a628f5b.9d3b9","name":"Chatbot Output","func":"\n    msg.payload = msg.payload.output.text[0];\n    flow.set(\"ques\",msg.payload)\n    if(msg.payload=='please select your prefereble location')\n    {\n        global.set(\"loc\",\"ok\")\n    }\n    msg.ques=flow.get(\"ques\")\n\nreturn msg;","outputs":1,"noerr":0,"x":2640,"y":100,"wires":[["b64b26d8.89c048","9eb28987.414398","440994f7.01013c","1019301d.b14f7"]]},{"id":"7102b0bb.909dc","type":"function","z":"5a628f5b.9d3b9","name":"User Input","func":"msg.payload=msg.payload.text;\nif(flow.get(\"ques\")=='Enter your highest degree percentage')\n{\n    msg.payload=msg.payload+\"%\"\n}\nmsg.ques=flow.get(\"ques\")\nmsg.ans=msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":140,"wires":[["3bcb1bfb.3eb334","a8d757c5.4f61f8","ad7a3463.67ad18"]]},{"id":"2b27d382.ad661c","type":"function","z":"5a628f5b.9d3b9","name":"Setting Locations available to Dropdown","func":"var canloc=[]\nif(Array.isArray(msg.payload))\n{\n    for(var index=0;index<msg.payload.length;index++)\n{\n    canloc.push(msg.payload[index]['LOCATION'])\n}\n}\nelse{\n    canloc.push(msg.payload.LOCATION)\n}\nmsg.options=canloc\nreturn msg;","outputs":1,"noerr":0,"x":3100,"y":140,"wires":[["46526a39.a7f5c4","9d100b0.08b70f8"]]},{"id":"46526a39.a7f5c4","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3590,"y":40,"wires":[]},{"id":"79796428.a05d0c","type":"function","z":"5a628f5b.9d3b9","name":"Selected Locaton Retrival","func":"msg.canloc=flow.get(\"canloc\")\n\nmsg.payload=\"\";\nflow.selectable=\"no\";\nreturn msg;","outputs":1,"noerr":0,"x":2630,"y":260,"wires":[["78374a9f.697f64"]]},{"id":"440994f7.01013c","type":"change","z":"5a628f5b.9d3b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2540,"y":200,"wires":[["2dfbb387.d62b6c"]]},{"id":"873c2f75.1245d","type":"function","z":"5a628f5b.9d3b9","name":"Storing Selected Location","func":"var canlocn=\"\"\nif(Array.isArray(msg.payload))\n{\n     flow.set(\"selectable\",\"no\")\n}\nelse\n{\n   \n    if(msg.payload!==undefined)\n        canlocn=msg.payload\n     if(msg.payload.LOCATION!==undefined)\n        canlocn=msg.payload.LOCATION\n    flow.set(\"canloc\",canlocn)\n    flow.set(\"selectable\",\"ok\")\n}\nmsg.canloc=canlocn+\"h\"\nreturn msg;","outputs":1,"noerr":0,"x":3630,"y":140,"wires":[["247df0f5.bf8f9","70981c45.22c594"]]},{"id":"203ad5c6.fde51a","type":"function","z":"5a628f5b.9d3b9","name":"Storing Req.values","func":"if(msg.payload.context.number!==null && msg.payload.context.Education!==null && msg.payload.context.percentage!==null)\n{\n   flow.set(\"internshipcount\",msg.payload.context.number)\n   flow.set(\"education\",msg.payload.context.Education)\n   flow.set(\"percentage\",msg.payload.context.percentage)\n}\nreturn msg;","outputs":1,"noerr":0,"x":2630,"y":60,"wires":[["2217730b.019cec"]]},{"id":"2217730b.019cec","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2810,"y":40,"wires":[]},{"id":"70c6e8e6.65d778","type":"function","z":"5a628f5b.9d3b9","name":"Info. Dialog","func":"msg.payload=\"It Will be useful for the company to View it easily.It will be used for the candidate for his future purposes.\"\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":360,"wires":[["8ddf6f48.143d"]]},{"id":"70981c45.22c594","type":"switch","z":"5a628f5b.9d3b9","name":"Accepting Only When Selectable","property":"selectable","propertyType":"flow","rules":[{"t":"eq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3940,"y":140,"wires":[["79796428.a05d0c"]]},{"id":"3a337275.a0da4e","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2550,"y":20,"wires":[]},{"id":"a8d757c5.4f61f8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2350,"y":40,"wires":[]},{"id":"ba04e652.071088","type":"function","z":"5a628f5b.9d3b9","name":"Resume Upload Acknowledgement","func":"msg.payload=\"Resume Uploaded\"\nreturn msg;","outputs":1,"noerr":0,"x":2080,"y":240,"wires":[["3bcb1bfb.3eb334","ad7a3463.67ad18"]]},{"id":"1019301d.b14f7","type":"function","z":"5a628f5b.9d3b9","name":"Displaying groups As Per The Requirment","func":"if(msg.payload==\"please share your resume\")\n{\n    msg.payload={\"group\":{\"show\":[\"Apply_For_A_JOB_ShareResume\"]}}\n}\nif(msg.payload==\"please select your prefereble location\")\n{\n    msg.payload={\"group\":{\"show\":[\"Apply_For_A_JOB_SelectLocation\"],\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_ApplicationStatus\"]}}\n}\nif(msg.payload==\"Please specify your application ID\")\n{\n    msg.payload={\"group\":{\"show\":[\"Apply_For_A_JOB_ApplicationStatus\"],\"hide\":[\"Apply_For_A_JOB_ShareResume\"]}}\n}\n\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":3130,"y":60,"wires":[["8746ebb4.421e08"]]},{"id":"b24c339.eb816d","type":"function","z":"5a628f5b.9d3b9","name":"Hiding Groups","func":"msg.payload={\n    \"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_Phase3\"]}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":2100,"wires":[["4ebb4684.c96b58"]]},{"id":"4856f989.20d768","type":"function","z":"5a628f5b.9d3b9","name":"Redirecting to Interviewee Tab","func":"msg.payload={\n\"tab\":\"Apply For A JOB\",\n\"tabs\":\n{\"hide\":[\"DashBoard\",\"Post A Job Manually\",\"Post A Job\",\"Company SignUp\",\"Company Login\"],\n\"show\":[\"Apply For A JOB\",\"Welcome\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2020,"wires":[["4ebb4684.c96b58"]]},{"id":"84f7affe.08635","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3670,"y":260,"wires":[]},{"id":"9f726a54.253dd8","type":"dashDB out","z":"5a628f5b.9d3b9","dashDB":"70b17a16.a6d0b4","service":"_ext_","table":"JOB_POST_DATA","name":"JOB_POST_DATA","x":1270,"y":3340,"wires":[]},{"id":"2663627c.a6f0fe","type":"function","z":"5a628f5b.9d3b9","name":"Checking Locations","func":"if(Array.isArray(msg.payload))\n{\n    msg.arr=\"yes\";\n}\nelse\n{\n    var arrloc=[]\n    arrloc.push(msg.payload)\n    msg.payload=arrloc\n}\nreturn msg;","outputs":1,"noerr":0,"x":3310,"y":260,"wires":[["3267c6e2.f9542a","e7a060bd.7ac7c"]]},{"id":"e7a060bd.7ac7c","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3330,"y":340,"wires":[]},{"id":"9d9b791.2bd1588","type":"function","z":"5a628f5b.9d3b9","name":"Candidate_Data","func":"var date = new Date();\nvar timestamp = date.getTime();\nvar str=\"\"\n\nflow.set(\"cidcan\",msg.payload)\nstr=\"\"+timestamp\nflow.set(\"apid\",str)\n msg.payload={\n      MAILID:\"\",\n      NAME:\"\",\n      MBLNO:0,\n      SKILLS:\"\",\n      DEGREE:flow.get(\"education\"),\n      EXP:\"\",\n      INTERN:flow.get(\"internshipcount\"),\n      DESC:\"\",\n      CODE:\"\",\n      CID:msg.payload,\n      P1:\"\",\n      P2:\"\",\n      P3:\"\",\n      MSG:\"\",\n      APID:str,\n      RESUMELINK:flow.get(\"rlink\"),\n      VISITED:\"notvisited\",\n      PERCENTAGE:flow.get(\"percentage\"),\n      BEHAVIOURAL:flow.get(\"behavioural\"),\n      COMMON:flow.get(\"common\"),\n      SITUATIONAL:flow.get(\"situational\")\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3560,"y":320,"wires":[["717d3fc8.5142e","f48de40e.d39608","d0e13de.7fcf4c","c60b7e31.a26a9"]]},{"id":"2dfbb387.d62b6c","type":"switch","z":"5a628f5b.9d3b9","name":"","property":"ques","propertyType":"msg","rules":[{"t":"eq","v":"please select your prefereble location","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2750,"y":200,"wires":[["1b801789.97b718"]]},{"id":"bf67a536.cbfec8","type":"function","z":"5a628f5b.9d3b9","name":"Setting Resume Link Available To Flow","func":"flow.set(\"rlink\",msg.payload.glink)\nreturn msg;","outputs":1,"noerr":0,"x":2360,"y":420,"wires":[[]]},{"id":"717d3fc8.5142e","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3870,"y":260,"wires":[]},{"id":"596bb12f.892de","type":"http request","z":"5a628f5b.9d3b9","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3670,"y":520,"wires":[["5b931ce.3742be4","a7b3e53b.08cd08"]]},{"id":"aa823d05.7ecda","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3950,"y":580,"wires":[]},{"id":"f48de40e.d39608","type":"function","z":"5a628f5b.9d3b9","name":"IBM FUNCTION CALLING","func":"msg.url=\"https://us-south.functions.cloud.ibm.com/api/v1/web/SI05202000809%40smartinternz.com_dev/temp/Phase_1.json\"\nmsg.payload.RESUMELINK=\"\"\nreturn msg;","outputs":1,"noerr":0,"x":3420,"y":520,"wires":[["596bb12f.892de"]]},{"id":"247df0f5.bf8f9","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3750,"y":40,"wires":[]},{"id":"c0eaf91.36b7508","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":2460,"wires":[]},{"id":"20bb2319.63cb3c","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":2640,"wires":[]},{"id":"1b801789.97b718","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"70b17a16.a6d0b4","service":"_ext_","query":"SELECT  distinct  \"LOCATION\"\n  FROM \"JOB_POST_DATA\";","params":"","name":"Acquiring Available Locations","x":2960,"y":200,"wires":[["2b27d382.ad661c"]]},{"id":"78374a9f.697f64","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"70b17a16.a6d0b4","service":"_ext_","query":"SELECT *  FROM \"JOB_POST_DATA\" where LOCATION=?;\n","params":"msg.canloc","name":"Accessing Company Data Based On Selected Location","x":3000,"y":260,"wires":[["2663627c.a6f0fe"]]},{"id":"9a5c891d.4e8ff8","type":"function","z":"5a628f5b.9d3b9","name":"Phase 1 Completed Notification","func":"msg.payload=\"Phase 1 Completed\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":3660,"wires":[["ab2d04d8.948b88"]]},{"id":"8562ec8d.a9966","type":"function","z":"5a628f5b.9d3b9","name":"Home page to Company SignUp page","func":"msg.payload={\n\"tab\":\"Welcome\",\n\"tabs\":\n{\"hide\":[\"Apply For A JOB\",\"Company SignUp\",\"Company Login\"],\n\"show\":[\"Welcome\"]\n\n}};\nreturn msg;\n","outputs":1,"noerr":0,"x":2270,"y":480,"wires":[["8ca1b0a1.47f3c"]]},{"id":"b170e559.357fe8","type":"link out","z":"5a628f5b.9d3b9","name":"Candidate","links":["18c50271.16e3ae"],"x":555,"y":2060,"wires":[]},{"id":"18c50271.16e3ae","type":"link in","z":"5a628f5b.9d3b9","name":"","links":["b170e559.357fe8"],"x":1415,"y":140,"wires":[["e8aec282.4e342","692eabd5.209ea4"]]},{"id":"e8aec282.4e342","type":"function","z":"5a628f5b.9d3b9","name":"Initiating Conversation","func":"msg.payload=\"Hi\"\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":60,"wires":[["3bcb1bfb.3eb334","ad7a3463.67ad18"]]},{"id":"1c507af4.ec9285","type":"function","z":"5a628f5b.9d3b9","name":"Getting Credentials","func":"msg.credentials=global.get(\"credentials\")\nflow.set(\"companyidfordb\",msg.credentials._id)\nreturn msg","outputs":1,"noerr":0,"x":850,"y":3460,"wires":[[]]},{"id":"3a286351.cb2bac","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":2320,"wires":[]},{"id":"6c89b896.76da48","type":"function","z":"5a628f5b.9d3b9","name":"Setting Company Data Available for DB","func":"msg.cid=flow.get(\"companyidfordb\")\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2340,"wires":[["299d68fc.4c4c98"]]},{"id":"7bfdfc5b.3c1ba4","type":"function","z":"5a628f5b.9d3b9","name":"Error Notification","func":"if(msg.payload[\"1\"]==\"0\")\n{\n    msg.payload=\"continue\"\n}\nelse\n{\n    msg.payload=\"Sorry! For Current Version We are Enabling One Company To Post One Job Only\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":2360,"wires":[["b0860729.dde8d8"]]},{"id":"7c9a14d8.601d5c","type":"function","z":"5a628f5b.9d3b9","name":"Redirecting to Manual Job Posting Page","func":"msg.payload={\n\"tab\":\"Post A Job Manually\",\n\"group\":{\"show\":[\"Post_A_Job_Manually_Post_Job_Manually\"]}\n};\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":2340,"wires":[["58db36c0.20dff8"]]},{"id":"b0860729.dde8d8","type":"switch","z":"5a628f5b.9d3b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"continue","vt":"str"},{"t":"neq","v":"continue","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":2380,"wires":[["7c9a14d8.601d5c"],["aac9ca85.7e5458"]]},{"id":"25dffac1.4996c6","type":"switch","z":"5a628f5b.9d3b9","name":"","property":"switch","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":2600,"wires":[["6caa504a.cb9e9","8f625cd9.4455","c8777b9c.2fc088"],["64d83768.ebbf88","bcca1744.b45418"]]},{"id":"c6d40c18.8da07","type":"function","z":"5a628f5b.9d3b9","name":"Candidates Count","func":"if(Array.isArray(msg.payload))\n{\n    msg.switch=1\n}\nelse\n    msg.switch=0\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":2600,"wires":[["25dffac1.4996c6","6caa504a.cb9e9"]]},{"id":"6caa504a.cb9e9","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":2700,"wires":[]},{"id":"d0e13de.7fcf4c","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"f6cb57c9.a3d6b8","service":"_ext_","query":"select count(*) from phase_3 where cid=?","params":"msg.payload.CID","name":"phase_3 ","x":3700,"y":480,"wires":[["1f6984ac.5ac6fb"]]},{"id":"47daaa4d.b5d764","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4210,"y":480,"wires":[]},{"id":"1f6984ac.5ac6fb","type":"function","z":"5a628f5b.9d3b9","name":"Phase 3 Notification","func":"if(msg.payload[\"1\"]=='1'){\n    msg.count=1;\n    msg.payload=\"The applied Company Provides you an another best way to get recruited.Here you have to provide solution for the provided problem statement.It is to test your elizibility beyond your resume.Do you want to proceed?\"\n    \n}\nelse{\n    msg.count=0;\n    msg.payload=\"You have successfully applied for a job.Thank You for applying a job from our portal.Your application id is \"+flow.get(\"apid\")+\". Please keep it to query your application status later.\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":3960,"y":480,"wires":[["47daaa4d.b5d764","7aba8b6b.61af84","768bb2c8.f57bdc"]]},{"id":"7aba8b6b.61af84","type":"switch","z":"5a628f5b.9d3b9","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":4010,"y":320,"wires":[["d0bd5d10.4c01f"],["b90dd57c.f9a268"]]},{"id":"9806148.0643de8","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4400,"y":360,"wires":[]},{"id":"72dfa404.580fbc","type":"function","z":"5a628f5b.9d3b9","name":"Application Number","func":"var strapid=\"\"+flow.get(\"apid\")\nif(msg.payload==\"Yes\")\n{\n    \n    msg.cid=flow.get(\"cidcan\");\n    msg.not=1;\n    \n}\nelse\n    msg.payload=\"You have successfully applied for a job.Thank You for applying a job from our portal.Your application id is \"+strapid+\". Please keep it to query your application status later.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4330,"y":400,"wires":[["79ab6406.6f8e7c"]]},{"id":"79ab6406.6f8e7c","type":"switch","z":"5a628f5b.9d3b9","name":"","property":"not","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":4530,"y":400,"wires":[["b6406d0b.be3bd","9edb424.59705c"],["7effeaeb.975ea4"]]},{"id":"27845bdf.46c164","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4310,"y":260,"wires":[]},{"id":"768bb2c8.f57bdc","type":"function","z":"5a628f5b.9d3b9","name":"Hiding Groups","func":"msg.payload={\n    \"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_Phase3\"]}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4140,"y":520,"wires":[["4571f80e.419f18"]]},{"id":"b6406d0b.be3bd","type":"function","z":"5a628f5b.9d3b9","name":"Displaying Groups Dynamically","func":"msg.payload={\n    \"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_SelectLocation\"],\"show\":[\"Apply_For_A_JOB_Phase3\"]}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4770,"y":380,"wires":[["5d04fb5d.0d2ad4"]]},{"id":"d4b0370b.1c62b8","type":"function","z":"5a628f5b.9d3b9","name":"Setting APID Available to Flow","func":"msg.apid=flow.get(\"apid\")\nreturn msg;","outputs":1,"noerr":0,"x":4600,"y":260,"wires":[["bcb8c4c9.cd2b38","ebbcf381.c1305","dc75b450.2a5e48","71c7baf7.cf50f4"]]},{"id":"bcb8c4c9.cd2b38","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4850,"y":260,"wires":[]},{"id":"6af0de06.8542f","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"cccd1df3.24c36","service":"_ext_","query":"select * from Phase_1 where CODE='false' fetch first 1 rows only ","params":"","name":"Phase_1","x":4360,"y":1040,"wires":[["65873d68.3911e4","1a83662c.ce826a"]]},{"id":"65873d68.3911e4","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4580,"y":1060,"wires":[]},{"id":"5a57b44b.4d494c","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"cccd1df3.24c36","service":"_ext_","query":"update Phase_1 set CODE='True' where CID=?","params":"msg.payload","name":"Phase_1 Updation","x":4310,"y":1260,"wires":[[]]},{"id":"8a4c1195.a77b","type":"link in","z":"5a628f5b.9d3b9","name":"","links":["a822c0f0.c9f74"],"x":4240,"y":940,"wires":[["6af0de06.8542f"]]},{"id":"a822c0f0.c9f74","type":"link out","z":"5a628f5b.9d3b9","name":"Admin","links":["8a4c1195.a77b","235da7b1.bfb038"],"x":775,"y":1220,"wires":[]},{"id":"501768e5.a339c8","type":"function","z":"5a628f5b.9d3b9","name":"Admin Page Redirection","func":"if(msg.payload.cemail==\"Admin\" && msg.payload.pwd==\"Admin\")\n{\n    msg.admin=1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1240,"wires":[["f8bada01.256158","abe7b806.e8d558"]]},{"id":"f8bada01.256158","type":"switch","z":"5a628f5b.9d3b9","name":"","property":"admin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1280,"wires":[["a822c0f0.c9f74","2064cce7.52a9f4"],["4bac21a2.3d68"]]},{"id":"abe7b806.e8d558","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":1240,"wires":[]},{"id":"2064cce7.52a9f4","type":"function","z":"5a628f5b.9d3b9","name":"Login Page to DashBoard Page","func":"\n    msg.payload={\n    \"tab\":\"Admin\",\n    \"tabs\":\n    {\n        \"hide\":[\"Company Login\",\"Apply For A JOB\",\"Post A Job Manually\",\"Company SignUp\"],\n        \"show\":[\"Welcome\",\"Admin\"]\n        \n    }};\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1080,"wires":[["a957b03.21fed5"]]},{"id":"bd3f1993.c6ad78","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2930,"y":680,"wires":[]},{"id":"36cbea95.41a1b6","type":"function","z":"5a628f5b.9d3b9","name":"Application Confirmation notification","func":"if(msg.payload.P1===undefined  || msg.payload.P1===\"\")\n{\n    msg.payload=\"Your application is still not at reviewed.Please check it after few minutes\"\n}\nelse\n    msg.payload=\"You are \"+msg.payload.P1+\" for Phase 1 , You are \"+msg.payload.P2+\" for Phase 2\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2940,"y":620,"wires":[["46e5576c.39ad18"]]},{"id":"692eabd5.209ea4","type":"function","z":"5a628f5b.9d3b9","name":"Hiding Unnecessary Groups","func":"msg.payload={\"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_ApplicationStatus\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_BehaviouralQuestions\",\"Apply_For_A_JOB_SituationalQuestions\",\"Apply_For_A_JOB_CommonQuestions\"]}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":200,"wires":[["ec3f8187.fc96"]]},{"id":"c3056c8c.65036","type":"inject","z":"5a628f5b.9d3b9","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Hai","payloadType":"str","x":150,"y":40,"wires":[["2e8a1004.334b3","7f8b47e4.b53158"]]},{"id":"2e8a1004.334b3","type":"function","z":"5a628f5b.9d3b9","name":"Displaying Tabs","func":"msg.payload={\n\"tab\":\"Welcome\",\n\"tabs\":\n{\"hide\":[\"Company SignUp\",\"Admin\",\"Apply For A JOB\"],\n\"show\":[\"Welcome\"]\n\n}};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":40,"wires":[["c536f651.aec128"]]},{"id":"a9693486.01e538","type":"function","z":"5a628f5b.9d3b9","name":"Submission Notification","func":"msg.payload=\"Phase 3 Submission is Completed\"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":4960,"wires":[["f6fb3d35.52988"]]},{"id":"49413e2e.5cef9","type":"function","z":"5a628f5b.9d3b9","name":"Submission Notification","func":"msg.payload=\"Phase 2 Submission is Completed\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":4280,"wires":[["2741f7c.9a13308"]]},{"id":"48777683.270468","type":"function","z":"5a628f5b.9d3b9","name":"","func":"flow.set(\"cidforp3\",msg.payload[\"company mailid\"])\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1840,"wires":[[]]},{"id":"7a38a910.38ca48","type":"function","z":"5a628f5b.9d3b9","name":"Getting COmpany Id","func":"msg.cid=flow.get(\"cidforp3\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2600,"wires":[["25952a3.a1c6cd6","f5c095d9.0a9d18"]]},{"id":"25952a3.a1c6cd6","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":2680,"wires":[]},{"id":"ebbcf381.c1305","type":"function","z":"5a628f5b.9d3b9","name":"Successfully Applied For The Job","func":"msg.payload=\"You have successfully applied for a job.Thank You for applying a job from our portal.Your application id is \"+flow.get(\"apid\")+\". Please keep it to query your application status later.\";\nreturn msg;","outputs":1,"noerr":0,"x":4600,"y":100,"wires":[["1fca57ed.3f39a8"]]},{"id":"dc75b450.2a5e48","type":"function","z":"5a628f5b.9d3b9","name":"Hiding All Groups","func":"msg.payload={\n    \"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_Phase3\"]}\n}\nreturn msg;","outputs":1,"noerr":0,"x":4680,"y":160,"wires":[["3f5289fa.9ac4c6"]]},{"id":"5b931ce.3742be4","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3880,"y":540,"wires":[]},{"id":"a7b3e53b.08cd08","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.selectionresult=msg.payload.Selection;\nmsg.apid=msg.payload.apid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3620,"y":560,"wires":[["b9417236.deae6","6a2df5f3.1c87ac"]]},{"id":"b9417236.deae6","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3760,"y":600,"wires":[]},{"id":"bcca1744.b45418","type":"function","z":"5a628f5b.9d3b9","name":"Showing Multiple Candidates","func":"msg.payload={\n    \"group\":{\"show\":[\"Post_A_Job_MultipleCandidates\"],\"hide\":[\"Post_A_Job_OneCandidate\"]}\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":2740,"wires":[["7d03c614.001d78"]]},{"id":"c8777b9c.2fc088","type":"function","z":"5a628f5b.9d3b9","name":"Showing Single Candidate","func":"  msg.payload={\n    \"group\":{\"show\":[\"Post_A_Job_OneCandidate\"],\"hide\":[\"Post_A_Job_MultipleCandidates\"]}\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2540,"wires":[["a5b95821.f5c4b8"]]},{"id":"594e4697.e2ae38","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"472081cf.29996","order":9,"width":7,"height":1,"passthru":false,"label":"Continue as Interviewee","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":2060,"wires":[["b24c339.eb816d","4856f989.20d768","b170e559.357fe8"]]},{"id":"f6bef02b.f183c","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c25ff566.a2aa18","order":3,"width":5,"height":1,"passthru":false,"label":"Phase 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":2200,"wires":[["284e607b.c9ed4"]]},{"id":"bde4fe24.6a59b","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c25ff566.a2aa18","order":5,"width":5,"height":1,"passthru":false,"label":"Phase 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":2280,"wires":[["ab810337.d94e6"]]},{"id":"dbd8e921.29ac68","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c25ff566.a2aa18","order":4,"width":5,"height":1,"passthru":false,"label":"Phase 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":2240,"wires":[["180d1cd9.8663f3"]]},{"id":"a33caf8a.5dda9","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c25ff566.a2aa18","order":7,"width":7,"height":1,"passthru":false,"label":"Continue to post a Job","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":2340,"wires":[["3af982b3.5637de","6c89b896.76da48"]]},{"id":"43d7da77.236924","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"472081cf.29996","order":7,"width":7,"height":1,"passthru":false,"label":"Company Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":1080,"wires":[["ff871e60.c8ff"]]},{"id":"3904f3b4.a6e75c","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"472081cf.29996","order":5,"width":7,"height":1,"passthru":false,"label":"Company Signup","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":400,"wires":[["646239b0.789d18"]]},{"id":"800b4e6.9f3fcb","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"decd98b7.868f88","order":3,"width":6,"height":1,"passthru":false,"label":"<< Back to Main Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":580,"y":680,"wires":[["96a7b8e7.235f28"]]},{"id":"6815eab2.bb54d4","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"7f4250c8.21248","order":3,"width":0,"height":0,"passthru":false,"label":"<< Back to Main Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":600,"y":1180,"wires":[["6f043f76.273c5"]]},{"id":"9fb257ff.aec118","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"1e89657e.ef723b","order":8,"width":4,"height":1,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":1900,"wires":[["f9c7382e.c99258"]]},{"id":"96be6ec2.9c928","type":"ui_button","z":"5a628f5b.9d3b9","name":"Continue","group":"b53b31aa.2b2eb","order":6,"width":4,"height":1,"passthru":true,"label":"Continue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"done","payloadType":"str","topic":"","x":160,"y":3200,"wires":[["8b293301.3322c","e6c3e203.55cf6"]]},{"id":"12530637.ac244a","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c6d8a6db.0e7748","order":1,"width":4,"height":1,"passthru":false,"label":"About Phase 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":3500,"wires":[["7cb12d4c.e8cd94"]]},{"id":"9cc5f830.b4df68","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c6d8a6db.0e7748","order":2,"width":6,"height":1,"passthru":false,"label":"About Descriptive Company Requirments","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":3580,"wires":[["a8a8bfde.17bd7"]]},{"id":"67c635d3.39533c","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"a8e3c5b6.57f238","order":1,"width":4,"height":1,"passthru":false,"label":"About Phase 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":3840,"wires":[["b933f6ff.d41808"]]},{"id":"c71bb678.68f048","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"a8e3c5b6.57f238","order":2,"width":6,"height":1,"passthru":false,"label":"About Uploading CSV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":3920,"wires":[["b56256d3.a992f8"]]},{"id":"d72492f0.1b5da","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"e0176c1.6643b9","order":2,"width":4,"height":1,"passthru":false,"label":"About Phase 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":4780,"wires":[["6a8b9b75.62e3c4"]]},{"id":"5fe296a0.5b91a8","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"e0176c1.6643b9","order":4,"width":6,"height":1,"passthru":false,"label":"About ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":4840,"wires":[["1cd6e05f.e6987"]]},{"id":"ed6a68cb.6ae728","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"970d8664.47bf38","order":3,"width":6,"height":1,"passthru":false,"label":"Why to Provide Sharable Link?","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":2330,"y":360,"wires":[["70c6e8e6.65d778"]]},{"id":"a0f799c1.040488","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"c25ff566.a2aa18","order":9,"width":7,"height":1,"passthru":false,"label":"Refresh Shortlisted Candidates Details","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":2600,"wires":[["7a38a910.38ca48"]]},{"id":"59a978d2.583198","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"87e3083e.578568","order":2,"width":7,"height":1,"passthru":false,"label":"Back  to Main Page<<","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1970,"y":480,"wires":[["8562ec8d.a9966"]]},{"id":"a07ab226.43af6","type":"ui_dropdown","z":"5a628f5b.9d3b9","name":"","label":"Job Category","tooltip":"","place":"Select option","group":"b53b31aa.2b2eb","order":1,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Computer Science ","value":"cs","type":"str"},{"label":"Marketing","value":"marketing","type":"str"},{"label":"Business Management","value":"bmgmt","type":"str"}],"payload":"","topic":"","x":210,"y":2920,"wires":[["19717061.fc434"]]},{"id":"735d447d.28131c","type":"ui_dropdown","z":"5a628f5b.9d3b9","name":"","label":"Post","tooltip":"","place":"Select option","group":"b53b31aa.2b2eb","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Manager","type":"str"},{"label":"","value":"Asst. Manager","type":"str"},{"label":"","value":"General Employee","type":"str"}],"payload":"","topic":"","x":210,"y":3000,"wires":[["12076324.9251ad"]]},{"id":"2d052ffd.185b2","type":"ui_dropdown","z":"5a628f5b.9d3b9","name":"","label":"Mode of Selection","tooltip":"","place":"Select option","group":"b53b31aa.2b2eb","order":3,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"Phase 1 -General Way of Recruiting","value":"phase1","type":"str"},{"label":"Phase 2 -AI Enabled Way","value":"phase2","type":"str"},{"label":"Phase 3 -Work & Prove ","value":"phase3","type":"str"}],"payload":"","topic":"","x":230,"y":3080,"wires":[["e07a7dd1.4fbee"]]},{"id":"9d100b0.08b70f8","type":"ui_dropdown","z":"5a628f5b.9d3b9","name":"","label":"","tooltip":"","place":"Select option","group":"d93109e7.799678","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":3420,"y":140,"wires":[["873c2f75.1245d"]]},{"id":"c55ba7c3.59da48","type":"ui_text_input","z":"5a628f5b.9d3b9","name":"","label":"Location","tooltip":"","group":"b53b31aa.2b2eb","order":4,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":240,"y":3160,"wires":[["853485b.fdd2d78"]]},{"id":"17773739.ef8c59","type":"ui_text","z":"5a628f5b.9d3b9","group":"472081cf.29996","order":10,"width":25,"height":1,"name":"Description text","label":"","format":"{{msg.payload}}","layout":"col-center","x":680,"y":240,"wires":[]},{"id":"bfd4813d.10c41","type":"ui_text","z":"5a628f5b.9d3b9","group":"472081cf.29996","order":3,"width":10,"height":5,"name":"","label":"Reply From Bot ","format":"{{msg.payload}}","layout":"col-center","x":1140,"y":120,"wires":[]},{"id":"3d77212c.6c0f7e","type":"ui_text","z":"5a628f5b.9d3b9","group":"c25ff566.a2aa18","order":2,"width":6,"height":1,"name":"","label":"Phases Info:","format":"Get to know about :-->","layout":"row-spread","x":210,"y":2200,"wires":[]},{"id":"834a5804.502838","type":"ui_text","z":"5a628f5b.9d3b9","group":"decd98b7.868f88","order":1,"width":0,"height":0,"name":"","label":"Note:","format":"After submission, you will be redirected to login page in 5 sec.","layout":"row-spread","x":610,"y":500,"wires":[]},{"id":"ff4e1282.e71b1","type":"ui_text","z":"5a628f5b.9d3b9","group":"7f4250c8.21248","order":3,"width":0,"height":0,"name":"Authentication Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":1260,"wires":[]},{"id":"7eb15405.eb901c","type":"ui_text","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","order":1,"width":0,"height":0,"name":"","label":"Company Name : ","format":"{{msg.payload[\"company name\"]}}","layout":"row-left","x":790,"y":1680,"wires":[]},{"id":"10a42123.a5aa5f","type":"ui_text","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","order":5,"width":0,"height":0,"name":"","label":"Id :","format":"{{msg.payload._id}}","layout":"row-left","x":750,"y":1640,"wires":[]},{"id":"bc478ba4.e94b88","type":"ui_text","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","order":2,"width":0,"height":0,"name":"","label":"Company MailId :","format":"{{msg.payload[\"company mailid\"]}}","layout":"row-left","x":790,"y":1720,"wires":[]},{"id":"12f955c.97a36aa","type":"ui_text","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","order":3,"width":0,"height":0,"name":"","label":"Website :","format":"{{msg.payload.website}}","layout":"row-left","x":760,"y":1800,"wires":[]},{"id":"a0e0003b.6fa0e","type":"ui_text","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","order":6,"width":0,"height":0,"name":"","label":"About :","format":"{{msg.payload.about}}","layout":"row-left","x":760,"y":1840,"wires":[]},{"id":"66164790.4cedf8","type":"ui_text","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","order":4,"width":0,"height":0,"name":"","label":"Location :","format":"{{msg.payload.location}}","layout":"row-left","x":760,"y":1760,"wires":[]},{"id":"3bcb1bfb.3eb334","type":"ui_text","z":"5a628f5b.9d3b9","group":"15fed4c4.5321bb","order":1,"width":6,"height":1,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":2150,"y":20,"wires":[]},{"id":"9eb28987.414398","type":"ui_text","z":"5a628f5b.9d3b9","group":"15fed4c4.5321bb","order":4,"width":6,"height":1,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":2870,"y":120,"wires":[]},{"id":"ac422c12.cb97b","type":"ui_text","z":"5a628f5b.9d3b9","group":"970d8664.47bf38","order":1,"width":6,"height":1,"name":"","label":"Upload Resume Link","format":"Please Upload Your Resume to Your google Drive and Give the Sharable link below","layout":"row-spread","x":2020,"y":400,"wires":[]},{"id":"91a22331.31559","type":"ui_text","z":"5a628f5b.9d3b9","group":"87e3083e.578568","order":1,"width":18,"height":1,"name":"","label":"Apply For a Job In an Easy & Interactive Way.","format":"Interact With Our ChatBot Recruiter To Apply For a Job.","layout":"row-left","x":2070,"y":540,"wires":[]},{"id":"ef21a9ea.edb0e8","type":"ui_text","z":"5a628f5b.9d3b9","group":"c25ff566.a2aa18","order":6,"width":"17","height":1,"name":"Note","label":"","format":"For Current Version We are Enabling One Company To Post One Job Only.If This will be Your First Job Post,->","layout":"row-left","x":1060,"y":2400,"wires":[]},{"id":"1e2e41b4.9a0d9e","type":"ui_text","z":"5a628f5b.9d3b9","group":"35d203f3.059f5c","order":1,"width":0,"height":0,"name":"","label":"Company Problem Statement:","format":"{{msg.payload.PB_STMT}}","layout":"row-spread","x":4370,"y":160,"wires":[]},{"id":"439b2d1e.e03cd4","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"Basic Interaction ChatBot","group":"472081cf.29996","order":2,"width":10,"height":3,"options":[{"label":"User Respnse/Query","value":"response","type":"text","required":true,"rows":null}],"formValue":{"response":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":100,"wires":[["493b0921.f24da8","9f48d2a0.42586"]]},{"id":"493eb1a0.b3b1b","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"Company Login Form","group":"7f4250c8.21248","order":1,"width":0,"height":0,"options":[{"label":"Company email","value":"cemail","type":"text","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"cemail":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":1240,"wires":[["6815eab2.bb54d4","501768e5.a339c8"]]},{"id":"c255eb92.1e8eb8","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"Company Registration Form","group":"decd98b7.868f88","order":2,"width":0,"height":0,"options":[{"label":"Company Name","value":"cname","type":"text","required":true,"rows":null},{"label":"Company MailId","value":"cmailid","type":"email","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Location","value":"loc","type":"text","required":true,"rows":null},{"label":"Company Website","value":"cwebsite","type":"multiline","required":true,"rows":1},{"label":"About Company","value":"cabout","type":"multiline","required":false,"rows":2}],"formValue":{"cname":"","cmailid":"","pwd":"","loc":"","cwebsite":"","cabout":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":380,"y":540,"wires":[["6acfb5e2.eaf00c","800b4e6.9f3fcb","834a5804.502838"]]},{"id":"a65c4a5a.c84f58","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"Descriptive Company Requirments","group":"c6d8a6db.0e7748","order":3,"width":10,"height":3,"options":[{"label":"Enter Company Requirments","value":"reqdes","type":"multiline","required":true,"rows":2}],"formValue":{"reqdes":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":320,"y":3700,"wires":[["922fa0b.dd9546","89319198.20f3f","59dcd535.5bc17c","9a5c891d.4e8ff8"]]},{"id":"28388499.39f66c","type":"ui_form","z":"5a628f5b.9d3b9","name":"Phase_3 Form","label":"","group":"e0176c1.6643b9","order":5,"width":0,"height":0,"options":[{"label":"Problem Statement","value":"pb_stmt","type":"multiline","required":true,"rows":3}],"formValue":{"pb_stmt":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":220,"y":4920,"wires":[["35571c86.df61e4"]]},{"id":"25e7e557.e0f16a","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"User Input","group":"15fed4c4.5321bb","order":2,"width":6,"height":3,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1890,"y":140,"wires":[["7102b0bb.909dc"]]},{"id":"10522a3c.0a47f6","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"Google Drive Resume Link Input Form","group":"970d8664.47bf38","order":2,"width":6,"height":"6","options":[{"label":"Google drive share link of your Resume:","value":"glink","type":"text","required":true,"rows":null}],"formValue":{"glink":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1990,"y":360,"wires":[["bf67a536.cbfec8","2824a950.f02a46","ba04e652.071088"]]},{"id":"3539e389.0bfe7c","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"","group":"35d203f3.059f5c","order":1,"width":0,"height":0,"options":[{"label":"Provide Your Solution Here","value":"sol","type":"text","required":true,"rows":null}],"formValue":{"sol":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":4410,"y":220,"wires":[["d4b0370b.1c62b8"]]},{"id":"b5362e11.11a32","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"","group":"beeb253d.d0d8f8","order":0,"width":0,"height":0,"options":[{"label":"ApplicationID","value":"apid","type":"text","required":true,"rows":null}],"formValue":{"apid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2450,"y":620,"wires":[["8725410e.47adb"]]},{"id":"9f9d9f5b.3aa99","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"About Phase 1","name":"Show Information about Phase 1","x":1010,"y":2200,"wires":[[]]},{"id":"219bf625.671d4a","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"About Phase 2","name":"Show Information about Phase 2","x":1010,"y":2240,"wires":[[]]},{"id":"dfabeac3.7c0d78","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"About Phase 3","name":"Show Information about Phase 3","x":1010,"y":2280,"wires":[[]]},{"id":"be33ec80.48eaa","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"2","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification about redirection","x":1420,"y":500,"wires":[[]]},{"id":"1fa1b0fd.536aff","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1210,"y":1300,"wires":[[]]},{"id":"2e075f1f.fc9ff","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Phase 1","name":"About Phase1 Dialog","x":840,"y":3500,"wires":[[]]},{"id":"d17dc7c1.e4e428","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":3580,"wires":[[]]},{"id":"7568a914.af33d8","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Phase 2","name":"About Phase2 Dialog","x":820,"y":3840,"wires":[[]]},{"id":"426a67cd.bc4ba8","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":3920,"wires":[[]]},{"id":"6c849eb7.a0135","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Phase 3","name":"About Phase 3 Dialog","x":820,"y":4780,"wires":[[]]},{"id":"428ae8d9.8582a8","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":770,"y":4840,"wires":[[]]},{"id":"8ddf6f48.143d","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Why to Upload Google Drive Shared Link Of PDF","x":2840,"y":360,"wires":[[]]},{"id":"ab2d04d8.948b88","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":3660,"wires":[[]]},{"id":"aac9ca85.7e5458","type":"ui_toast","z":"5a628f5b.9d3b9","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1410,"y":2440,"wires":[]},{"id":"d0bd5d10.4c01f","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"","x":4210,"y":320,"wires":[["9806148.0643de8","72dfa404.580fbc"]]},{"id":"7effeaeb.975ea4","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":4710,"y":440,"wires":[[]]},{"id":"b90dd57c.f9a268","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":4100,"y":380,"wires":[[]]},{"id":"46e5576c.39ad18","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3170,"y":620,"wires":[[]]},{"id":"f6fb3d35.52988","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":4960,"wires":[[]]},{"id":"2741f7c.9a13308","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":750,"y":4280,"wires":[[]]},{"id":"1fca57ed.3f39a8","type":"ui_toast","z":"5a628f5b.9d3b9","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":4860,"y":100,"wires":[[]]},{"id":"95ad40b6.5b94","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":" Redirecting to Company SignUp page","events":"all","x":790,"y":400,"wires":[["c255eb92.1e8eb8"]]},{"id":"6f729eee.92076","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"Redirecting to Login Page","events":"all","x":670,"y":1080,"wires":[["493eb1a0.b3b1b"]]},{"id":"adfa66ae.9d9098","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"Company SignUp page to Home Page","events":"all","x":1110,"y":680,"wires":[[]]},{"id":"9000a6a5.807e68","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"Company Login page to Home Page","events":"all","x":1170,"y":1180,"wires":[[]]},{"id":"7dc80480.e7ec9c","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"Redirecting to DashBoard","events":"all","x":1410,"y":1440,"wires":[[]]},{"id":"eb50060d.465598","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":1220,"y":1900,"wires":[[]]},{"id":"3f823f52.f56b1","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":760,"y":3200,"wires":[[]]},{"id":"b9fa7eda.96614","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":540,"y":2400,"wires":[[]]},{"id":"c0ba308d.c3a9f","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":1000,"y":3740,"wires":[[]]},{"id":"10025ad3.744dc5","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":780,"y":4320,"wires":[[]]},{"id":"4ebb4684.c96b58","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":820,"y":2060,"wires":[[]]},{"id":"8746ebb4.421e08","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":3380,"y":60,"wires":[[]]},{"id":"8ca1b0a1.47f3c","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":" Redirecting to Company SignUp page","events":"all","x":2610,"y":480,"wires":[[]]},{"id":"58db36c0.20dff8","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":1720,"y":2340,"wires":[[]]},{"id":"4571f80e.419f18","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":4320,"y":520,"wires":[[]]},{"id":"5d04fb5d.0d2ad4","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":4880,"y":320,"wires":[[]]},{"id":"a957b03.21fed5","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"Redirecting to AdminPage","events":"all","x":1170,"y":1140,"wires":[[]]},{"id":"ec3f8187.fc96","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":1920,"y":200,"wires":[[]]},{"id":"c536f651.aec128","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"Ui Tabs Hiding","events":"all","x":700,"y":40,"wires":[[]]},{"id":"3f5289fa.9ac4c6","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":4900,"y":160,"wires":[[]]},{"id":"7d03c614.001d78","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":1620,"y":2740,"wires":[[]]},{"id":"a5b95821.f5c4b8","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":1620,"y":2540,"wires":[[]]},{"id":"9f48d2a0.42586","type":"ui_template","z":"5a628f5b.9d3b9","group":"472081cf.29996","name":"Basic Image","order":1,"width":15,"height":8,"format":"<body>\n    <div>\n\n<img ng-src=\"https://companies.naukri.com/rms-careers/wp-content/uploads/sites/21747/2019/12/Involvement-of-AI-in-recruitment_1.jpg\" width=\"770px\" height=\"346px\" alt=\"image\">\n</div>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":180,"wires":[[]]},{"id":"fd8b5ee5.8596f","type":"ui_template","z":"5a628f5b.9d3b9","group":"c25ff566.a2aa18","name":"Basic Image","order":1,"width":"25","height":8,"format":"<html>\n<head>\n<style>\n    .center {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n  width: 80%;\n}</style>\n</head>    \n<body>\n    <div>\n<h1 style=\"background-color:DodgerBlue;\">Hello,Make Hiring Simple and Effective...Happy to See You</h1>\n<img class=\"center\" ng-src=\"https://images.hrtechnologist.com/images/uploads/content_images/ai_based_recruitment_5d10eeaa410ce.jpg\" height=\"368px\" alt=\"image\">\n</div>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":2240,"wires":[[]]},{"id":"5c759e7e.0fd11","type":"ui_template","z":"5a628f5b.9d3b9","group":"a8e3c5b6.57f238","name":"","order":3,"width":10,"height":3,"format":"<iframe name=\"dummyframe\" id=\"dummyframe\" style=\"display: none;\"></iframe>\n<form action=\"/\"  id=\"convert\" method=\"post\"  enctype=\"multipart/form-data\" target=\"dummyframe\">\n    <div class=\"form-group\">\n        <label style=\"font-weight: 500\">\n            Select CSV file:\n        </label>\n        <div class=\"custom-file\">\n            <input id=\"file-input\" type=\"file\" name=\"file\" accept=\".csv\" onclick=\"this.value=null;\" class=\"custom-file-input\" />\n            <label class=\"custom-file-label\" for=\"file-input\"><br>- select file -</label>\n        </div>\n    </div>\n    <div class=\"form-group\" style=\"btn-orange\">\n        <input type=\"submit\" class=\"md-raised md-button md-ink-ripple\" value=\"Submit\" style=\"width:100%\" />\n    </div>\n</form>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":3980,"wires":[["3694794c.5340b6"]]},{"id":"50c2cde3.27f854","type":"ui_template","z":"5a628f5b.9d3b9","group":"87e3083e.578568","name":"Basic Image","order":3,"width":25,"height":"7","format":"<html>\n<head>\n<style>\n    .center {\n  display: block;\n\n}</style>\n</head>\n<body>\n    <div>\n<img class=\"center\" ng-src=\"https://blog.digitalogy.co/wp-content/uploads/2019/05/Ai-Recruitment-Tools.png\" width=\"800px\" height=\"335px\" alt=\"image\">\n</div>\n</body></html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1710,"y":280,"wires":[[]]},{"id":"3267c6e2.f9542a","type":"ui_template","z":"5a628f5b.9d3b9","group":"d93109e7.799678","name":"","order":3,"width":12,"height":6,"format":" <div>\n <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n<table style=\"width:100%\">\n  <tr>\n    <th>CID</th> \n    <th>JOB Category</th> \n    <th>Post</th> \n    <th>Skills Required</th>\n    <th>Apply</th>\n  </tr>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload  | filter:search track by $index\" style=\"width:100%\" flex>\n              <td >{{row.CID}}</td> \n     <td>{{row.JOBCAT}}</td>\n     <td>{{row.POST}}</td>\n     <td>{{row.SKILLS}}</td>\n     <td> <md-button ng-click=\"send({payload:row.CID})\">\n    done\n        </md-button></td>\n         </tr>\n        </tbody>\n  \n  <tr ng-repeat=\"row in msg.payload\">\n     \n   \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":3480,"y":260,"wires":[["84f7affe.08635","9d9b791.2bd1588"]]},{"id":"64d83768.ebbf88","type":"ui_template","z":"5a628f5b.9d3b9","group":"a0f20257.f5d05","name":"Single Candidate","order":2,"width":25,"height":6,"format":" <div>\n <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n<table style=\"width:100%\" id=\"table1\">\n  <tr>\n    <th>Mail Id</th> \n    <th>Name</th> \n    <th>Mobile Number</th> \n    <th>Skills</th>\n    <th>Education</th>\n    <th>Experience</th>\n    <th>Percentage</th>\n    <th>Internships</th>\n    <th>Visit Resume</th>\n    <th>Review</th>\n    <th width=500>Phase 1</th>\n    <th>Phase 2</th>\n    <th>Phase 3</th>\n    <th>\n        Why should You hire e and where can I expect me in next 5 years?\n    </th>\n    <th>\n        What will I do when my supervisor disagrees with me?\n    </th>\n    <th>\n        How do I handle a challenge?This is an example.\n    </th>\n    <th>\n        \n    </th>\n  </tr>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload  | filter:search track by $index\" ng-dblclick=\"sendRow(row)\" tr ondblclick=\"myFunction(this)\" style=\"width:100%\" flex>\n     \n     <td>{{row.MAILID}}</td>\n     <td>{{row.NAME}}</td>\n     <td>{{row.MBLNO}}</td>\n     <td>{{row.SKILLS}}</td>\n     <td>{{row.DEGREE}}</td>\n     <td>{{row.EXP}}</td>\n     <td>{{row.PERCENTAGE}}</td>\n     <td>{{row.INTERN}}</td>\n     <td><a href='{{row.RESUMELINK}}'>Resume</a></td>\n     <td  contenteditable=\"true\">{{row.CDDE}}</td>\n     <td>{{row.P1}}</td>\n     <td>{{row.P2}}</td>\n     <td>{{row.CODE}}</td>\n     <td>{{row.COMMON}}</td>\n     <td>{{row.SITUATIONAL}}</td>\n      <td>{{row.BEHAVIOURAL}}</td>\n       <td> <md-button ng-click=\"send({payload:row})\">\n    Hire\n        </md-button></td>\n         </tr>\n        </tbody>\n  \n  <tr ng-repeat=\"row in msg.payload\">\n     \n   \n  </tr>\n</table>\n\n\n\n<script>\n(function($scope) {\n $scope.sendRow = function(obj) {\n //$scope.send({ \"payload\": obj });\n //$scope.send({ \"payload\": (document.getElementById(\"table1\").click() });\n $scope.send({ \"payload\": (document.getElementById(\"table1\").rows[1].innerText) });\n };\n})(scope);\n</script>\n<script>\nfunction myFunction(x) {\n alert(document.getElementById(\"table1\").rows[x.rowIndex].innerText);\n}\n</script>\n\n\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1370,"y":2640,"wires":[["c0eaf91.36b7508","366a2987.3eff66","5fcd9069.98315"]]},{"id":"8f625cd9.4455","type":"ui_template","z":"5a628f5b.9d3b9","group":"547d7895.742438","name":"Multiple Candidates","order":1,"width":25,"height":6,"format":" <div>\n <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n<table style=\"width:100%\" id=\"table1\">\n  <tr>\n    <th>Mail Id</th> \n    <th>Name</th> \n    <th>Mobile Number</th> \n    <th>Skills</th>\n    <th>Education</th>\n    <th>Experience</th>\n    <th>Percentage</th>\n    <th>Internships</th>\n    <th>Visit Resume</th>\n    <th>Review</th>\n    <th>Phase 1</th>\n    <th>Phase 2</th>\n    <th>Phase 3</th>\n    <th>\n        Why should You hire e and where can I expect me in next 5 years?\n    </th>\n    <th>\n        What will I do when my supervisor disagrees with me?\n    </th>\n    <th>\n        How do I handle a challenge?This is an example.\n    </th>\n    <th>\n        \n    </th>\n  </tr>\n    <tbody>\n        <tr>\n    \n     <td>{{msg.payload.MAILID}}</td>\n     <td>{{msg.payload.NAME}}</td>\n     <td>{{msg.payload.MBLNO}}</td>\n     <td>{{msg.payload.SKILLS}}</td>\n     <td>{{msg.payload.DEGREE}}</td>\n     <td>{{msg.payload.EXP}}</td>\n     <td>{{msg.payload.PERCENTAGE}}</td>\n     <td>{{msg.payload.INTERN}}</td>\n     <td><a href='{{msg.payload.RESUMELINK}}'>Resume</a></td>\n     <td  contenteditable=\"true\">{{msg.payload.CDDE}}</td>\n     <td>{{msg.payload.P1}}</td>\n     <td>{{msg.payload.P2}}</td>\n     <td>{{msg.payload.CODE}}</td>\n       \n     <td>{{msg.payload.COMMON}}</td>\n     <td>{{msg.payload.SITUATIONAL}}</td>\n      <td>{{msg.payload.BEHAVIOURAL}}</td>\n      <td> <md-button ng-click=\"send({payload:msg})\">\n        Hire\n        </md-button></td>\n         </tr>\n        </tbody>\n  \n  <tr ng-repeat=\"row in msg.payload\">\n     \n   \n  </tr>\n</table>\n\n\n\n<script>\n(function($scope) {\n $scope.sendRow = function(obj) {\n //$scope.send({ \"payload\": obj });\n //$scope.send({ \"payload\": (document.getElementById(\"table1\").click() });\n $scope.send({ \"payload\": (document.getElementById(\"table1\").rows[1].innerText) });\n };\n})(scope);\n</script>\n<script>\nfunction myFunction(x) {\n alert(document.getElementById(\"table1\").rows[x.rowIndex].innerText);\n}\n</script>\n\n\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1390,"y":2580,"wires":[["6caa504a.cb9e9","19f6d916.42b9e7","87f71ef7.ff487"]]},{"id":"1a83662c.ce826a","type":"ui_template","z":"5a628f5b.9d3b9","group":"f5a5ba02.5fcf68","name":"Admin","order":1,"width":12,"height":"5","format":" <div>\n <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n<table style=\"width:100%\" id=\"table1\">\n  <tr>\n    <th>Company Id</th> \n    <th>Description</th> \n   \n    <th>Done With Programming</th> \n    \n  </tr>\n    <tbody>\n        <tr>\n    \n     <td>{{msg.payload.CID}}</td>\n     <td>{{msg.payload.DES}}</td>\n     \n  \n      <td> <md-button tr ng-click=\"send({payload:msg.payload.CID})\">Save</md-button>\n      \n      <!--md-button ng-click=\"send({payload:row})\">\n    done\n        </md-button--></td>\n    \n         </tr>\n        </tbody>\n  \n  <tr ng-repeat=\"row in msg.payload\">\n     \n   \n  </tr>\n</table>\n\n\n\n<script>\n(function($scope) {\n $scope.sendRow = function(obj) {\n //$scope.send({ \"payload\": obj });\n //$scope.send({ \"payload\": (document.getElementById(\"table1\").click() });\n $scope.send({ \"payload\": (document.getElementById(\"table1\").rows[1].innerText) });\n };\n})(scope);\n</script>\n<script>\nfunction myFunction(x) {\n alert(document.getElementById(\"table1\").rows[x.rowIndex].innerText);\n}\n</script>\n\n\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":4290,"y":1160,"wires":[["65873d68.3911e4","5a57b44b.4d494c"]]},{"id":"ad7a3463.67ad18","type":"watson-conversation-v1","z":"5a628f5b.9d3b9","name":"Candidate Bot","workspaceid":"71f5ad50-d906-4c20-b82f-86a68cd67b3e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/5491ac14-d139-44e4-b4b1-9255076e332c","timeout":"","optout-learning":false,"x":2360,"y":160,"wires":[["3a337275.a0da4e","203ad5c6.fde51a","9ac9503d.83f51"]]},{"id":"7f8b47e4.b53158","type":"watson-conversation-v1","z":"5a628f5b.9d3b9","name":"Assistant For General Queries","workspaceid":"f149e5b4-f9d0-4cb7-a274-9b10c19ed911","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/5491ac14-d139-44e4-b4b1-9255076e332c","timeout":"","optout-learning":false,"x":670,"y":180,"wires":[["5c0c7e08.626d","83cb5636.46c9e8"]]},{"id":"1ad29160.2991bf","type":"cloudant in","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"company_registration","service":"node-red-ibmhack-cloudant-1594932181169-14231","search":"_id_","design":"","index":"","x":820,"y":1340,"wires":[["63221d5b.30c644","3a5f483a.f58f08"]]},{"id":"299d68fc.4c4c98","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"70b17a16.a6d0b4","service":"_ext_","query":"select count(*) from Job_Post_Data where CID=?","params":"msg.cid","name":"","x":800,"y":2380,"wires":[["3a286351.cb2bac","7bfdfc5b.3c1ba4"]]},{"id":"f5c095d9.0a9d18","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"c31fb5a2.d74e08","service":"_ext_","query":"select * from Candidate_data where cid=?","params":"msg.cid","name":"Candidate_Data","x":740,"y":2600,"wires":[["20bb2319.63cb3c","c6d40c18.8da07"]]},{"id":"786ac00e.c21a8","type":"dashDB out","z":"5a628f5b.9d3b9","dashDB":"decb1204.c9cc5","service":"_ext_","table":"PHASE_2","name":"Phase_2","x":660,"y":4480,"wires":[]},{"id":"a5ee3ade.6f9758","type":"dashDB out","z":"5a628f5b.9d3b9","dashDB":"cccd1df3.24c36","service":"_ext_","table":"PHASE_1","name":"Phase_1","x":1120,"y":3800,"wires":[]},{"id":"eba166d8.740d38","type":"dashDB out","z":"5a628f5b.9d3b9","dashDB":"f6cb57c9.a3d6b8","service":"_ext_","table":"PHASE_3","name":"","x":980,"y":4860,"wires":[]},{"id":"6bba2385.0d195c","type":"cos-put","z":"5a628f5b.9d3b9","name":"","bucket":"ibmhctrail","create":"1","objectname":"","mode":"1","filepath":"/","filename":"nag","contentType":"text/plain","geturl":true,"cosconfig":"20013f20.aae49","x":1190,"y":4160,"wires":[["ccfbe458.d2a3e8"]]},{"id":"8dcb0b76.812a38","type":"cos-get","z":"5a628f5b.9d3b9","name":"","bucket":"ibmhctrail","objectname":"","mode":"1","filepath":"","filename":"not","geturl":false,"geturlExpiry":900,"cosconfig":"20013f20.aae49","x":450,"y":4720,"wires":[["7706e40.dbfdc1c","c0a89582.8b77d8"]]},{"id":"e0ffb9b3.36b778","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"f6cb57c9.a3d6b8","service":"_ext_","query":"select * from Phase_3 where cid=?","params":"msg.cid","name":"Phase_3","x":4140,"y":220,"wires":[["1e2e41b4.9a0d9e","27845bdf.46c164"]]},{"id":"9edb424.59705c","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.cid=flow.get(\"cidcan\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4400,"y":320,"wires":[["e0ffb9b3.36b778"]]},{"id":"c60b7e31.a26a9","type":"dashDB out","z":"5a628f5b.9d3b9","dashDB":"e499dd99.4e7ef","service":"_ext_","table":"CANDIDATE_DATA","name":"","x":3810,"y":320,"wires":[]},{"id":"6a2df5f3.1c87ac","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"e499dd99.4e7ef","service":"_ext_","query":"update candidate_data set P1=? where APID=?","params":"msg.selectionresult,msg.apid","name":"candidate_data updation","x":3710,"y":680,"wires":[["aa823d05.7ecda"]]},{"id":"8725410e.47adb","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"c31fb5a2.d74e08","service":"_ext_","query":"select * from Candidate_Data where apid=?","params":"msg.payload.apid","name":"Candidate_Data","x":2660,"y":620,"wires":[["36cbea95.41a1b6","bd3f1993.c6ad78"]]},{"id":"71c7baf7.cf50f4","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"e499dd99.4e7ef","service":"_ext_","query":"update Candidate_data set CODE=? where APID=?","params":"msg.payload.sol,msg.apid","name":"Candidate_Data","x":4841.4287109375,"y":201.42857360839844,"wires":[["bcb8c4c9.cd2b38"]]},{"id":"9c387dc3.55347","type":"ui_text_input","z":"5a628f5b.9d3b9","name":"Skills Req","label":"Skills Required","tooltip":"","group":"b53b31aa.2b2eb","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":230,"y":3360,"wires":[["12ccb683.8cb709"]]},{"id":"12ccb683.8cb709","type":"function","z":"5a628f5b.9d3b9","name":"","func":"flow.set(\"skills\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":3360,"wires":[[]]},{"id":"1e670c2f.df3ea4","type":"function","z":"5a628f5b.9d3b9","name":"Display Situational Questions","func":"msg.payload={\"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_ApplicationStatus\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_BehaviouralQuestions\",\"Apply_For_A_JOB_CommonQuestions\"],\"show\":[\"Apply_For_A_JOB_SituationalQuestions\"]}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2130,"y":680,"wires":[["12fc555f.9467eb"]]},{"id":"5234392c.750f58","type":"function","z":"5a628f5b.9d3b9","name":"Display Behavioural Questons","func":"msg.payload={\"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_ApplicationStatus\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_CommonQuestions\",\"Apply_For_A_JOB_SituationalQuestions\"],\"show\":[\"Apply_For_A_JOB_BehaviouralQuestions\"]}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2150,"y":780,"wires":[["9e06691b.96c578"]]},{"id":"12fc555f.9467eb","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":2270,"y":700,"wires":[[]]},{"id":"9e06691b.96c578","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":2250,"y":800,"wires":[[]]},{"id":"1e2ea726.8b8bc9","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":2270,"y":640,"wires":[[]]},{"id":"2824a950.f02a46","type":"function","z":"5a628f5b.9d3b9","name":"Display Common Questions","func":"msg.payload={\"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_ApplicationStatus\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_BehaviouralQuestions\",\"Apply_For_A_JOB_SituationalQuestions\"],\"show\":[\"Apply_For_A_JOB_CommonQuestions\"]}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2100,"y":620,"wires":[["1e2ea726.8b8bc9"]]},{"id":"1f537733.a9d8b9","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"How do you handle a challenge? Give an example.","group":"49e1d45e.f2febc","order":0,"width":0,"height":0,"options":[{"label":"Your Answer","value":"beh","type":"multiline","required":true,"rows":2}],"formValue":{"beh":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2310,"y":840,"wires":[["3e3b47b9.db9238","1e670c2f.df3ea4"]]},{"id":"fe511bda.a91dc8","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"Why should we hire you and Where would you like to be in your career five years from now?","group":"fb3600a9.62d31","order":8,"width":0,"height":0,"options":[{"label":"Your Answer","value":"common","type":"multiline","required":true,"rows":2}],"formValue":{"common":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2360,"y":880,"wires":[["7b86ac8c.a101e4","5234392c.750f58"]]},{"id":"1ce6cbfc.acc884","type":"ui_form","z":"5a628f5b.9d3b9","name":"","label":"If I were your supervisor and asked you to do something that you disagreed with, what would you do?","group":"4fc7a5e3.9ca53c","order":0,"width":"16","height":"5","options":[{"label":"Your Answer","value":"sit","type":"text","required":true,"rows":null}],"formValue":{"sit":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":2330,"y":920,"wires":[["509f3a7f.fd7f24","bbd8c197.a96f5","cabc2941.239858"]]},{"id":"3e3b47b9.db9238","type":"function","z":"5a628f5b.9d3b9","name":"","func":"flow.set(\"behavioural\",msg.payload.beh)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2790,"y":840,"wires":[[]]},{"id":"7b86ac8c.a101e4","type":"function","z":"5a628f5b.9d3b9","name":"","func":"flow.set(\"common\",msg.payload.common)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2800,"y":880,"wires":[[]]},{"id":"509f3a7f.fd7f24","type":"function","z":"5a628f5b.9d3b9","name":"","func":"flow.set(\"situational\",msg.payload.sit)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2800,"y":920,"wires":[[]]},{"id":"bbd8c197.a96f5","type":"function","z":"5a628f5b.9d3b9","name":"Hiding Unnecessary Groups","func":"msg.payload={\"group\":{\"hide\":[\"Apply_For_A_JOB_ShareResume\",\"Apply_For_A_JOB_ApplicationStatus\",\"Apply_For_A_JOB_SelectLocation\",\"Apply_For_A_JOB_BehaviouralQuestions\",\"Apply_For_A_JOB_SituationalQuestions\",\"Apply_For_A_JOB_CommonQuestions\"]}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2840,"y":980,"wires":[["255b331f.7f003c"]]},{"id":"255b331f.7f003c","type":"ui_ui_control","z":"5a628f5b.9d3b9","name":"","events":"all","x":3060,"y":980,"wires":[[]]},{"id":"cabc2941.239858","type":"function","z":"5a628f5b.9d3b9","name":"Q/A Acknowledgment","func":"msg.payload=\"Done with Interview Questions\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":300,"wires":[["3bcb1bfb.3eb334","ad7a3463.67ad18"]]},{"id":"366a2987.3eff66","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":2420,"wires":[]},{"id":"4c70fbc8.8bed34","type":"cloudant out","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"hire_data","service":"node-red-ibmhack-cloudant-1594932181169-14231","payonly":false,"operation":"insert","x":1900,"y":2640,"wires":[]},{"id":"d6b027b9.09efa8","type":"cloudant in","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"hire_data","service":"node-red-ibmhack-cloudant-1594932181169-14231","search":"_all_","design":"","index":"","x":620,"y":2880,"wires":[["68f7f790.46ceb8","57757109.62963"]]},{"id":"938b08c1.f7b638","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.payload={\n    \"CID\":msg.payload.cemail\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2840,"wires":[["d6b027b9.09efa8","57e3c298.2ea6dc"]]},{"id":"5fcd9069.98315","type":"function","z":"5a628f5b.9d3b9","name":"Inserting Hired Candidate Info","func":"msg._id=msg.payload.MAILID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1610,"y":2640,"wires":[["4c70fbc8.8bed34"]]},{"id":"a8d5bcbf.d86e1","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"1e89657e.ef723b","order":9,"width":0,"height":0,"passthru":false,"label":"Refresh Hired Candidates","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":2780,"wires":[["938b08c1.f7b638","d5b2390b.b67018","795cafc2.51009"]]},{"id":"ac45ea11.45b478","type":"ui_template","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","name":"Single Candidate","order":13,"width":25,"height":6,"format":" <div>\n <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n<table style=\"width:100%\" id=\"table1\">\n  <tr>\n    <th>Mail Id</th> \n    <th>Name</th> \n    <th>Mobile Number</th> \n    \n    <th>Visit Resume</th>\n    \n   \n  </tr>\n    <tbody>\n        <tr>\n    \n     <td>{{msg.payload[0].payload.payload.MAILID}}</td>\n     <td>{{msg.payload[0].payload.payload.NAME}}</td>\n     <td>{{msg.payload[0].payload.payload.MBLNO}}</td>\n    \n     <td><a href='{{msg.payload[0].payload.payload.RESUMELINK}}'>Resume</a></td>\n     \n         </tr>\n        </tbody>\n  \n  <tr ng-repeat=\"row in msg.payload\">\n     \n   \n  </tr>\n</table>\n\n\n\n<script>\n(function($scope) {\n $scope.sendRow = function(obj) {\n //$scope.send({ \"payload\": obj });\n //$scope.send({ \"payload\": (document.getElementById(\"table1\").click() });\n $scope.send({ \"payload\": (document.getElementById(\"table1\").rows[1].innerText) });\n };\n})(scope);\n</script>\n<script>\nfunction myFunction(x) {\n alert(document.getElementById(\"table1\").rows[x.rowIndex].innerText);\n}\n</script>\n\n\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":890,"y":2820,"wires":[[]]},{"id":"71d171b8.d1953","type":"ui_gauge","z":"5a628f5b.9d3b9","name":"","group":"1e89657e.ef723b","order":12,"width":7,"height":6,"gtype":"gage","title":"Hired Candidates","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":2960,"wires":[]},{"id":"68f7f790.46ceb8","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.payload=msg.payload.length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":2960,"wires":[["71d171b8.d1953"]]},{"id":"41a4fc85.5692a4","type":"dashDB in","z":"5a628f5b.9d3b9","dashDB":"c31fb5a2.d74e08","service":"_ext_","query":"select count(*) from Candidate_data where cid=?","params":"msg.cid","name":"Candidate_Data","x":660,"y":2780,"wires":[["d8138654.550188","c5bdcfe9.04d2e"]]},{"id":"510061d5.67c48","type":"ui_gauge","z":"5a628f5b.9d3b9","name":"","group":"1e89657e.ef723b","order":10,"width":7,"height":6,"gtype":"gage","title":"Shortlisted Candidates","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1340,"y":2780,"wires":[]},{"id":"d8138654.550188","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":2720,"wires":[]},{"id":"d5b2390b.b67018","type":"function","z":"5a628f5b.9d3b9","name":"Getting COmpany Id","func":"msg.cid=flow.get(\"cidforp3\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2700,"wires":[["41a4fc85.5692a4"]]},{"id":"c5bdcfe9.04d2e","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.payload=msg.payload[\"1\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":2780,"wires":[["510061d5.67c48"]]},{"id":"41d449ea.05f598","type":"cloudant in","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"hire_data","service":"node-red-ibmhack-cloudant-1594932181169-14231","search":"_all_","design":"","index":"","x":4200,"y":740,"wires":[["6d4bb31.eb8774c"]]},{"id":"1991a9ab.41b976","type":"cloudant in","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"company_registration","service":"node-red-ibmhack-cloudant-1594932181169-14231","search":"_all_","design":"","index":"","x":4310,"y":840,"wires":[["5419ee68.67fc1"]]},{"id":"6d4bb31.eb8774c","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.payload=msg.payload.length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4420,"y":740,"wires":[["63748768.25b088"]]},{"id":"63748768.25b088","type":"ui_gauge","z":"5a628f5b.9d3b9","name":"","group":"472081cf.29996","order":15,"width":"6","height":"4","gtype":"gage","title":"Hired Candidates","label":"Candidates","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":4660,"y":760,"wires":[]},{"id":"5419ee68.67fc1","type":"function","z":"5a628f5b.9d3b9","name":"","func":"msg.payload=msg.payload.length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4524,"y":877,"wires":[["5b07eca9.1f76b4"]]},{"id":"5b07eca9.1f76b4","type":"ui_gauge","z":"5a628f5b.9d3b9","name":"","group":"472081cf.29996","order":12,"width":"6","height":"4","gtype":"gage","title":"Companies Registered","label":"Companies","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":4710,"y":860,"wires":[]},{"id":"795cafc2.51009","type":"function","z":"5a628f5b.9d3b9","name":"Getting COmpany Id","func":"msg.cid=flow.get(\"cidforp3\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2780,"wires":[["41a4fc85.5692a4"]]},{"id":"57e3c298.2ea6dc","type":"cloudant in","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"hire_data","service":"node-red-ibmhack-cloudant-1594932181169-14231","search":"_all_","design":"","index":"","x":620,"y":2840,"wires":[["ac45ea11.45b478","16e5a441.a7009c"]]},{"id":"16e5a441.a7009c","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2880,"wires":[]},{"id":"19f6d916.42b9e7","type":"function","z":"5a628f5b.9d3b9","name":"Inserting Hired Candidate Info","func":"msg._id=msg.payload.MAILID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":2600,"wires":[["8a69bb3b.6df738"]]},{"id":"8a69bb3b.6df738","type":"cloudant out","z":"5a628f5b.9d3b9","name":"","cloudant":"","database":"hire_data","service":"node-red-ibmhack-cloudant-1594932181169-14231","payonly":false,"operation":"insert","x":1980,"y":2600,"wires":[]},{"id":"87f71ef7.ff487","type":"debug","z":"5a628f5b.9d3b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1770,"y":2560,"wires":[]},{"id":"57757109.62963","type":"ui_template","z":"5a628f5b.9d3b9","group":"1e89657e.ef723b","name":"Multiple Candidates","order":13,"width":25,"height":6,"format":" <div>\n <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n<table style=\"width:100%\" id=\"table1\">\n  <tr>\n    <th>Mail Id</th> \n    <th>Name</th> \n    <th>Mobile Number</th> \n    \n    <th>Visit Resume</th>\n    \n   \n  </tr>\n    <tbody>\n        <tr>\n    \n     <td>{{msg.payload[0].payload.MAILID}}</td>\n     <td>{{msg.payload[0].payload.NAME}}</td>\n     <td>{{msg.payload[0].payload.MBLNO}}</td>\n    \n     <td><a href='{{msg.payload[0].payload.payload.RESUMELINK}}'>Resume</a></td>\n     \n         </tr>\n        </tbody>\n  \n  <tr ng-repeat=\"row in msg.payload\">\n     \n   \n  </tr>\n</table>\n\n\n\n<script>\n(function($scope) {\n $scope.sendRow = function(obj) {\n //$scope.send({ \"payload\": obj });\n //$scope.send({ \"payload\": (document.getElementById(\"table1\").click() });\n $scope.send({ \"payload\": (document.getElementById(\"table1\").rows[1].innerText) });\n };\n})(scope);\n</script>\n<script>\nfunction myFunction(x) {\n alert(document.getElementById(\"table1\").rows[x.rowIndex].innerText);\n}\n</script>\n\n\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":890,"y":2920,"wires":[[]]},{"id":"3d15b019.5e57d","type":"ui_button","z":"5a628f5b.9d3b9","name":"","group":"472081cf.29996","order":11,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":4000,"y":780,"wires":[["41d449ea.05f598","1991a9ab.41b976"]]},{"id":"70b17a16.a6d0b4","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Job_Post_Data"},{"id":"f6cb57c9.a3d6b8","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"Phase_3"},{"id":"cccd1df3.24c36","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"Phase_1"},{"id":"472081cf.29996","type":"ui_group","z":"","name":"AI Recruiter","tab":"364dc902.37d9e6","order":null,"disp":true,"width":"25","collapse":false},{"id":"c25ff566.a2aa18","type":"ui_group","z":"","name":"Instant Post A Job","tab":"191e817d.4ea7ff","order":1,"disp":true,"width":"25","collapse":false},{"id":"decd98b7.868f88","type":"ui_group","z":"","name":"SignUp","tab":"29ebd089.1749f","order":9,"disp":true,"width":"6","collapse":false},{"id":"7f4250c8.21248","type":"ui_group","z":"","name":"Login","tab":"7f421487.2ec49c","order":4,"disp":true,"width":"6","collapse":false},{"id":"1e89657e.ef723b","type":"ui_group","z":"","name":"Company","tab":"d86f251d.b52588","order":4,"disp":true,"width":"25","collapse":false},{"id":"b53b31aa.2b2eb","type":"ui_group","z":"","name":"Post Job Manually","tab":"3434515d.fff3ce","order":8,"disp":true,"width":"6","collapse":false},{"id":"c6d8a6db.0e7748","type":"ui_group","z":"","name":"Phase1","tab":"3434515d.fff3ce","order":5,"disp":true,"width":"10","collapse":false},{"id":"a8e3c5b6.57f238","type":"ui_group","z":"","name":"Phase2","tab":"3434515d.fff3ce","order":4,"disp":true,"width":"10","collapse":false},{"id":"e0176c1.6643b9","type":"ui_group","z":"","name":"Phase3","tab":"3434515d.fff3ce","order":4,"disp":true,"width":"6","collapse":false},{"id":"970d8664.47bf38","type":"ui_group","z":"","name":"ShareResume","tab":"df364a3c.afe778","order":5,"disp":true,"width":"6","collapse":false},{"id":"87e3083e.578568","type":"ui_group","z":"","name":"Candidate","tab":"df364a3c.afe778","order":1,"disp":true,"width":"25","collapse":false},{"id":"d93109e7.799678","type":"ui_group","z":"","name":"SelectLocation","tab":"df364a3c.afe778","order":3,"disp":true,"width":"18","collapse":false},{"id":"15fed4c4.5321bb","type":"ui_group","z":"","name":"ChatBot","tab":"df364a3c.afe778","order":2,"disp":true,"width":"6","collapse":false},{"id":"35d203f3.059f5c","type":"ui_group","z":"","name":"Phase3","tab":"df364a3c.afe778","order":6,"disp":true,"width":"6","collapse":false},{"id":"beeb253d.d0d8f8","type":"ui_group","z":"","name":"ApplicationStatus","tab":"df364a3c.afe778","order":4,"disp":true,"width":"6","collapse":false},{"id":"a0f20257.f5d05","type":"ui_group","z":"","name":"MultipleCandidates","tab":"191e817d.4ea7ff","order":3,"disp":true,"width":"25","collapse":false},{"id":"547d7895.742438","type":"ui_group","z":"","name":"OneCandidate","tab":"191e817d.4ea7ff","order":2,"disp":true,"width":"25","collapse":false},{"id":"f5a5ba02.5fcf68","type":"ui_group","z":"","name":"Phase_1","tab":"e860d45c.a89798","order":2,"disp":true,"width":"12","collapse":false},{"id":"c31fb5a2.d74e08","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"Candidate_Data_2"},{"id":"decb1204.c9cc5","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"Phase_2"},{"id":"20013f20.aae49","type":"cos-config","z":"","apiKeyId":"kn8DXR2Lw3FiDSY-J9eNDFHtFWs357qld0SIGLGwIyrn","location":"eu-gb","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.eu-gb.objectstorage.softlayer.net","serviceInstanceId":"bd046b95-be33-40a7-9151-f73796737a89","hmac":false,"accesskeyid":"e2a05649f26d491e80bef435fe6837a1","accesskey":"a34da8e397baa83e3dd84749cc73c51630ae81530eb7ba59","name":"ibmhctrail"},{"id":"e499dd99.4e7ef","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"Candidate_data"},{"id":"49e1d45e.f2febc","type":"ui_group","z":"","name":"BehaviouralQuestions","tab":"df364a3c.afe778","order":7,"disp":true,"width":"16","collapse":false},{"id":"fb3600a9.62d31","type":"ui_group","z":"","name":"CommonQuestions","tab":"df364a3c.afe778","order":9,"disp":true,"width":"16","collapse":false},{"id":"4fc7a5e3.9ca53c","type":"ui_group","z":"","name":"SituationalQuestions","tab":"df364a3c.afe778","order":8,"disp":true,"width":"16","collapse":false},{"id":"364dc902.37d9e6","type":"ui_tab","z":"","name":"Welcome","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"191e817d.4ea7ff","type":"ui_tab","z":"","name":"Post A Job","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"29ebd089.1749f","type":"ui_tab","z":"","name":"Company SignUp","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"7f421487.2ec49c","type":"ui_tab","z":"","name":"Company Login","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"d86f251d.b52588","type":"ui_tab","z":"","name":"DashBoard","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"3434515d.fff3ce","type":"ui_tab","z":"","name":"Post A Job Manually","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"df364a3c.afe778","type":"ui_tab","z":"","name":"Apply For A JOB","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"e860d45c.a89798","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":4,"disabled":false,"hidden":false}]